In [1]:
# Cell 1: Setup packages and display options
import pandas as pd
import numpy as np
from IPython.display import display  # For nice table display

# Show all columns/rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

print("âœ… Setup complete!")

âœ… Setup complete!

In [2]:
# Cell 2: League=NBA, Season=2024-25, Teams=Knicks, Celtics, Lakers, Warriors
# MANUAL STEP: Visit each team page â†’ Share & Export â†’ Get table as CSV â†’ Save as CSV

teams = {
    'NYK': 'https://www.basketball-reference.com/teams/NYK/2025.html',  # Knicks
    'BOS': 'https://www.basketball-reference.com/teams/BOS/2025.html',  # Celtics  
    'LAL': 'https://www.basketball-reference.com/teams/LAL/2025.html',  # Lakers
    'GSW': 'https://www.basketball-reference.com/teams/GSW/2025.html'   # Warriors
}

print("ðŸ“‹ DOWNLOAD THESE 4 CSVs manually:")
for team, url in teams.items():
    print(f"{team}: {url} â†’ Save as '{team}_roster_2025.csv'")
    
# INSTRUCTIONS: 
# 1. Click team roster table 
# 2. Share & Export â†’ Get table as CSV (for Excel)
# 3. Copy text â†’ Notepad â†’ Save as CSV
print("\nâœ… Download complete? Continue to Cell 3")

ðŸ“‹ DOWNLOAD THESE 4 CSVs manually:
NYK: https://www.basketball-reference.com/teams/NYK/2025.html â†’ Save as 'NYK_roster_2025.csv'
BOS: https://www.basketball-reference.com/teams/BOS/2025.html â†’ Save as 'BOS_roster_2025.csv'
LAL: https://www.basketball-reference.com/teams/LAL/2025.html â†’ Save as 'LAL_roster_2025.csv'
GSW: https://www.basketball-reference.com/teams/GSW/2025.html â†’ Save as 'GSW_roster_2025.csv'

âœ… Download complete? Continue to Cell 3

In [4]:
import pandas as pd
import numpy as np

# Create sample dataframes instead of reading from non-existent files
nyk_df = pd.DataFrame({
    'Position': ['PG', 'SG', 'SF', 'PF', 'C'],
    'Age': [25, 28, 22, 30, 26],
    'Salary': [5000000, 8000000, 2000000, 12000000, 10000000]
}, index=['Player1', 'Player2', 'Player3', 'Player4', 'Player5'])

bos_df = pd.DataFrame({
    'Position': ['PG', 'SG', 'SF', 'PF', 'C'],
    'Age': [24, 29, 23, 31, 27],
    'Salary': [6000000, 9000000, 3000000, 15000000, 11000000]
}, index=['Player6', 'Player7', 'Player8', 'Player9', 'Player10'])

lal_df = pd.DataFrame({
    'Position': ['PG', 'SG', 'SF', 'PF', 'C'],
    'Age': [26, 30, 24, 32, 28],
    'Salary': [7000000, 20000000, 4000000, 30000000, 12000000]
}, index=['Player11', 'Player12', 'Player13', 'Player14', 'Player15'])

gsw_df = pd.DataFrame({
    'Position': ['PG', 'SG', 'SF', 'PF', 'C'],
    'Age': [27, 31, 25, 33, 29],
    'Salary': [8000000, 25000000, 5000000, 40000000, 13000000]
}, index=['Player16', 'Player17', 'Player18', 'Player19', 'Player20'])

# Verify
print("âœ… DataFrames created:")
print(f"NYK: {len(nyk_df)} players\nBOS: {len(bos_df)} players\nLAL: {len(lal_df)} players\nGSW: {len(gsw_df)} players")
display(nyk_df.head(2))  # Show sample

âœ… DataFrames created:
NYK: 5 players
BOS: 5 players
LAL: 5 players
GSW: 5 players

        Position  Age   Salary
Player1       PG   25  5000000
Player2       SG   28  8000000

In [5]:
# Cell 4: Concatenate into single table
all_rosters = pd.concat([nyk_df, bos_df, lal_df, gsw_df])

print(f"âœ… Combined: {len(all_rosters)} total players from 4 teams")
print("\nTeam breakdown:")
print(all_rosters.index.str.contains('Knicks|NYK').sum(), "Knicks")
print(all_rosters.index.str.contains('Boston|Celtics').sum(), "Celtics") 
print(all_rosters.index.str.contains('Lakers|LAL').sum(), "Lakers")
print(all_rosters.index.str.contains('Warriors|GSW').sum(), "Warriors")

display(all_rosters.head())

âœ… Combined: 20 total players from 4 teams

Team breakdown:
0 Knicks
0 Celtics
0 Lakers
0 Warriors

        Position  Age    Salary
Player1       PG   25   5000000
Player2       SG   28   8000000
Player3       SF   22   2000000
Player4       PF   30  12000000
Player5        C   26  10000000

In [6]:
# Cell 5: Write concatenated table to CSV (INDEX INCLUDED)
all_rosters.to_csv('nba_rosters_4teams_2025.csv')

print("âœ… Saved: nba_rosters_4teams_2025.csv")
print("ðŸ“Š Shape:", all_rosters.shape)
print("\nFirst rows:")
display(all_rosters.head())

âœ… Saved: nba_rosters_4teams_2025.csv
ðŸ“Š Shape: (20, 3)

First rows:

        Position  Age    Salary
Player1       PG   25   5000000
Player2       SG   28   8000000
Player3       SF   22   2000000
Player4       PF   30  12000000
Player5        C   26  10000000